<configuration>
    <property name="logLevel" value="${anycollect.log.level}"/>
    <property name="logDir" value="${anycollect.log.dir}"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/anycollect.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/anycollect.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>2</maxHistory>
            <totalSizeCap>10MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}%replace( %X{target.id}.execute\(%X{query.id}\)){' .execute\(\)', ''} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="METRICS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/metrics.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/metrics.%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>1</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%X{slf4j.writer.instance.id} --> %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}%replace( %X{target.id}.execute\(%X{query.id}\)){' .execute\(\)', ''} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="METRICS_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%X{slf4j.writer.instance.id} --> %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="Slf4j" additivity="false">
        <appender-ref ref="METRICS_FILE" />
    </logger>
    <root level="${logLevel}">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
